.App {
}

.counter {
  font-weight: bold;
  font-size: 24px;
  font-family: Constantia;
  color: red;
  top: -95px;
  right: -578px;
  position: absolute;
  text-align: center;
}


.wrapper {
  position: relative;
  width: 170px;
  margin: 100px auto 10px auto;
}

.item {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  overflow: hidden;
  display: inline-block;
}

.photo {
  width: 100%;
  height: 100%;
  visibility: hidden;
}

.show {
  visibility: visible;
}

.logo {
  width: 50%;
  height: 50%;
  margin: 10px auto;
}

